<div class="main">
    <div class="top left button">
        <div class="text">
            DOPAMINA
            <ul>
                <li>Duerme de 7 a 9 horas</li>
                <li>Celebra un logro</li>
                <li>Haz ejercicio</li>
            </ul>
        </div>
    </div>
    <div class="top right button">
        <div class="text">
            OXITOCINA
            <ul>
                <li>Medita</li>
                <li>Da un abrazo</li>
                <li>Se generoso</li>
            </ul>
        </div>
    </div>
    <div class="bottom left button">
        <div class="text">
            SEROTONINA
            <ul>
                <li>Se agradecido</li>
                <li>Disfruta de la naturaleza</li>
                <li>Se feliz</li>
            </ul>
        </div>
    </div>
    <div class="bottom right button">
        <div class="text">
            ENDORFINA
            <ul>
                <li>Baila</li>
                <li>Canta</li>
                <li>Sonrie</li>
            </ul>
        </div>
    </div>
    <div class="center button">
        <div class="text">
            ESTIMULA LOS QUIMICOS DE LA FELICIDAD DE MANERA NATURAL
        </div>
    </div>
</div>